/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /*---------------------------------------------
					Index Start 
-----------------------------------------------*/
  /*--
	wrapper Start 
--*/
  video {
    padding: 0px;
  }

  /*--
	wrapper Start 
--*/
  #wrapper {
    text-align: center;
  }

  #wrapper .block img {
    padding-top: 100px;
    width: 50%;
  }

  /*--
	content Start 
--*/
  #content {
    text-align: center;
  }

  #content .block {
    padding-bottom: 100px;
  }

  /*--
	features Start 
--*/
  #features {
    text-align: center;
  }

  /*--
	footer Start 
--*/
  footer .navbar {
    margin-bottom: 0px;
    border: 0px;
    min-height: 40px;
  }

  footer .navbar-default {
    border: 0px;
    width: 68%;
  }

  footer .navbar-default .navbar-nav li a {
    color: #494949;
    padding: 10px 10px;
    font-size: 15px;
  }

  footer .navbar-default .navbar-nav li a:hover {
    color: #000;
  }

  /*---------------------------------------------
					Index Close 
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					Work Start 
-----------------------------------------------*/

  /*--
	wrapper Start 
--*/
  #wrapper-work ul li .items-text {
    padding-top: 0;
    padding-left: 25px;
  }

  #wrapper-work ul li .items-text h2 {
    padding-bottom: 10px;
    padding-top: 40px;
  }

  #wrapper-work ul li .items-text p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 30px;
  }

  /*--
	features Start 
--*/
  #features-work .block ul li {
    width: 49%;
  }

  /*---------------------------------------------
					Work close 
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					contact start 
-----------------------------------------------*/
  #wrapper-contact .block {
    padding-bottom: 50px;
  }

  /*--
	features-contact Start 
--*/
  #features-contact .block ul li {
    width: 49%;
  }

  /*------------------*/
}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

  /*---------------------------------------------
					Index Start 
-----------------------------------------------*/
  .heading {
    padding-left: 0px;
  }

  h2 {
    font-size: 30px;
    text-align: center;
  }

  p {
    font-size: 18px;
  }

  #slider {
    padding-top: 90px;
    padding-bottom: 100px;
  }

  #slider .block {
    padding-left: 30px;
  }

  #slider .block h1 {
    font-size: 20px;
    line-height: 30px;
  }

  #slider .block p {
    font-size: 13px;
    line-height: 20px;

  }

  /*--
	wrapper Start 
--*/
  #wrapper {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;
  }

  #wrapper .block img {
    padding-top: 100px;
    padding-left: 0px;
    width: 100%;
  }

  /*--
	documentacion Start 
--*/
  #documentacion {
    padding-top: 100px;
  }

  #documentacion .thumbnail {
    padding-bottom: 70px;
  }

  /*--
	word Start 
--*/
  #word p {
    padding: 0px 0px 40px;
  }

  /*--
	content Start 
--*/
  #content {
    text-align: center;
    padding-top: 70px;
  }

  #content .block {
    padding-bottom: 100px;
  }

  #content .block h2 {
    padding-top: 0px;
  }

  #content .block-bottom {
    padding: 0px;
  }

  #content .block-bottom .item-img {
    padding-left: 0px;
  }

  /*--
	features Start 
--*/
  #features .features-img {
    text-align: center;
  }
}

/*---------------------------------------------
					Index Close 
-----------------------------------------------*/
/*=============================================*/

/*	Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436 -----------*/